###################
# MLflow Config
###################

MLFLOW_SERVER_ENDPOINT_URL=http://127.0.0.1:5000

MLFLOW_CREDENTIALS_USERNAME=admin
MLFLOW_CREDENTIALS_PASSWORD=password1234

###################
# lakeFS Config
###################

LAKEFS_SERVER_ENDPOINT_URL=http://127.0.0.1:8000

LAKEFS_CREDENTIALS_ACCESS_KEY_ID=AKIAIOSFOLQUICKSTART
LAKEFS_CREDENTIALS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
