services:
  mlops-example:
    restart: always
    container_name: mlops-example
    image: mlops-example/python:3.12
    ports:
      - 3000:3000
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: all
    #           capabilities: [gpu]
    environment:
      PORT: 3000
      WORKERS: 1
    env_file:
      - .env
    networks:
      - localnet

networks:
  localnet:
    driver: bridge
